.events-sec {
  .events {
    justify-content: space-between;

    h2 {
      margin-bottom: 40px;
    }

    .flexbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__block {
      h2 {
        font-size: 55px;
      }

      p {
        max-width: 520px;
        line-height: 32px;
        font-family: $font-family-cera;
        font-weight: $font-weight-regular;
      }

      &--link {
        padding-top: 64px;
      }

      .offers {
        margin: 150px 0;

        &__description {
          font-family: $font-family-cera;
          max-width: 962px;

          ul {
            margin-top: 30px;
            margin-bottom: 65px;

            li {
              padding-left: 30px;
              position: relative;
              max-width: 410px;

              &:after {
                content: "";
                position: absolute;
                background-image: url("../images/arrow.png");
                left: 0;
                top: 12px;
                width: 13px;
                height: 18px;
              }
            }
          }
        }
      }

      .primary-btn {
        width: 185px;
      }
    }

    &__jumping {
      position: absolute;
      width: 421px;
      right: 10%;
      top: 44%;
    }

    &__group {
      position: absolute;
      left: 30%;
      top: 65%;
      width: 426px;
    }

    &__image {
      width: 100vw;
      height: 100vh;
      max-width: 656px;
      max-height: 651px;
      padding: 1rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      mask-image: url("../images/round.svg");
      mask-size: 100vmin;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    .container {
      max-width: 1292px;

      .d-flex {
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 100px;
        margin-bottom: 100px;

      }
    }

    .loadmore {
      .primary-btn {
        margin: 50px auto;
      }
    }
  }

  .bottom-btn {
    .primary-btn {
      margin: 0 auto;
      margin-bottom: 120px;
    }
  }
}

///////////////////////////////////////////
// Media Quries
///////////////////////////////////////////
@media screen and (min-width:375px) and (max-width: 812px) and (orientation: landscape) {
  .events-sec .events__image {
    height: 81vh !important;
  }
 

}

@include media-breakpoint-down(xxl) {
  .events-sec {
    .events {
      .container {
        max-width: 1140px;

        .d-flex {
          margin-top: 0;
        }
      }

      &__jumping {
        width: 234px;
        right: 4%;
        top: 42rem;
      }

      &__group {
        left: 30%;
        top: 83rem;
        width: 268px;
      }
    }

    .events__image {
      max-width: 460px;
      height: 80vh;
    }
  }
}

@media (max-width:1440px) {
  .events-sec {
    .events {
      &__group {
        top: 69rem;
      }
    }
  }
}



@include media-breakpoint-down(md) {
  .events-sec {
    .events {
      h2 {
        margin-bottom: 30px;
      }

      &__image {
        height: 35vh;
        margin-top: 30px;
      }

      .container {
        .d-flex {
          margin: 0;
          justify-content: center;

          .events__block {
            order: 1;

            p {
              font-size: 15px;
              line-height: 25px;
              max-width: 600px;
            }

            .primary-btn {
              margin-bottom: 30px !important;
            }
          }
        }
      }

      .flexbox {
        flex-direction: column !important;
      }

      .events__block {
        margin-top: 30px;
        order: 2;

        .gs_reveal {
          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }

    .bottom-btn {
      .primary-btn {
        margin: 0 auto;
        margin-bottom: 70px;
        margin-top: 40px;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .events-sec {
    .events {
      &__image {
        height: 40vh;
      }

      .container {
        .d-flex {
          .events__block {
            p {
              font-size: 12px;
            }

            .primary-btn {
              // margin: 0 auto;
              margin-top: 30px;
              width: 156px;
            }
          }
        }
      }
    }
  }
}