.fr-pass{
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__wrapper{
       margin-top: 85px;
        max-width: 600px;
        width: 100%;

        &--feild{
           
            label{
                margin-bottom: 18px;
                font-size:20px;
                color: $dark;
                font-weight: $font-weight-regular;
                font-family: $font-family-cera;
            }
            input{
                margin-bottom:40px;
                border: none;
                background-color: $input-color;
                height: 65px;
                width: 100%;
                font-size: 20px;
                border-radius: 8px;
                border: 1px solid #E6E6E6;
                
            }
        }
    }
    &__desc{
        max-width: 709px;
        margin: 0 auto;
    }

    &__btn{
        .primary-btn{
            margin-bottom: 50px;
            padding-left: 44px;
            width: 232px;

            svg{
                margin-left:55px;
            }
        }
    }
}

///////////////////////////////////////////////////
// Media query 
//////////////////////////////////////////////////


// for small devices (768px)
@include media-breakpoint-down(md){
    .register{

        &__title{
            // font-size: 50px;
            margin-bottom: 20px;
        }
        &__input{
            margin-bottom: 30px;

            label{ 
                font-size: 15px;
            }
        }

    }
}


// Media query (576px)

@include media-breakpoint-down(sm){
    .fr-pass{

        .container{
            max-width: 480px;
        }
        &__title{
            font-size: 30px;
        }

        &__wrapper{
            margin-top:20px;
            &--feild{
                label{
                    font-size: 12px;
                    
                }
                input{
                    height:50px;
                    font-size: 15px;
                }
            }
        }
        &__desc{
            font-size: 13px;
        }
        &__btn{
            margin-top:0;
            .primary-btn{
                width: 164px;
                align-items: center;
                font-size: 13px;
                margin: 25px 0;
                svg{
                    margin-left: 15px;
                }
            }
            
        }
    }
}


// Media query  (0)

@include media-breakpoint-down(xs){
    .fr-pass{
        .container{
            max-width: 480px;
        }
        &__title{
            font-size: 30px;
        }

        &__wrapper{
        
            &--feild{
                label{
                    font-size: 12px;
                }
            
            }
        }

    }
}

