.vip-villa {
  .vip-villa-sec {
    h2 {
      text-align: center;
      margin-bottom: 35px;
    }

    &__image {
      width: 100vw;
      height: 100vh;
      max-width: 100%;
      max-height: 683px;
      background-position: center;
      margin: 0 auto;
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      mask-image: url(../images/rectangle.svg);
      mask-image: url(../images/rectangle.svg);
      mask-size: 130vmin;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    &__rate {
      font-family: $font-family-gtsectra;
      width: 160px;
      height: 160px;
      background: #384133;
      border-radius: 50%;
      margin: 0 auto;
      text-align: center;
      padding: 40px 25px;
      position: absolute;
      bottom: 8%;
      right: 33%;

      h4 {
        font-size: 40px;
        color: #fff;
      }

      p {
        font-size: 22px;
        color: #fff;
      }
    }

    .btn-wrapper {
      &__btn {
        margin-top: 35px;
        padding: 12px 0;
        max-width: 227px;
        width: 227px;
        justify-content: space-between;
        position: absolute;
        bottom: -45px;
        right: -55px;

        &--prev {
          font-size: 18px;
          color: $dark;
          font-family: $font-family-cera;

          svg {
            margin-right: 10px;
          }
        }

        &--next {
          font-size: 18px;
          color: $dark;
          font-family: $font-family-cera;

          svg {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .features {
    margin-top: 130px;

    &__desc {
      p {
        max-width: 520px;
        line-height: 2;
      }
    }

    h3 {
      font-size: 35px;
      margin-bottom: 35px;
      padding-bottom: 0;
    }

    &__wrapper {
      max-width: 575px;
      width: 100%;
      gap: 70px;

      &--content {
        max-width: 235px;
        align-items: center;
        width: calc(100% / 2);

        img {
          width: 71px;
          height: 71px;
          object-fit: cover;
          margin-right: 30px;
        }

        p {
          font-size: 20px;
          font-family: $font-family-cera;
        }
      }
    }
  }

  .related {
    margin-bottom: 200px;
    margin-top: 150px;

    &__list {
      justify-content: space-between;

      &--item {
        width: 30%;
        min-width: 30%;

        img {
          max-height: 350px;
          width: 100%;
        }

        &:nth-of-type(3n + 2) {
          margin-top: 80px;
          gap: 0 30px;
        }

        h6 {
          margin-top: 35px;
          font-size: 18px;
          font-weight: $font-weight-normal;
        }
      }
    }
  }
}

@include media-breakpoint-down(xxl) {
  .vip-villa {
    .vip-villa-sec {
      &__rate {
        width: 135px;
        height: 135px;
        padding: 36px 25px;

        h4 {
          font-size: 30px;
        }

        p {
          font-size: 18px;
        }
      }
    }
    .related__list--item {
      img {
        max-height: 265px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .vip-villa {
    .vip-villa-sec {
      .related {
        &__list {
          &--item {
            &:nth-of-type(3n + 2) {
              gap: 0 30px;
            }
          }
        }
      }
    }
  }

  .features__desc p {
    width: 300px;
    line-height: 2;
  }
}

@include media-breakpoint-down(lg) {
  .vip-villa {
    .features {
      &__desc p {
        max-width: 600px;
        line-height: 2;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .vip-villa {
    .vip-villa-sec {
      &__rate {
        width: 130px;
        height: 130px;
        padding: 35px 15px;
        bottom: 51px;
        right: 138px;

        h4 {
          font-size: 25px;
        }

        p {
          font-size: 18px;
          text-align: center;
        }
      }
    }

    .features {
      &__wrapper {
        gap: 30px;

        &--content {
          width: 100%;
        }
      }

      .features-btn {
        display: flex;
        justify-content: center;

        .primary-btn {
          margin-bottom: 50px;
        }
      }
    }

    .related {
      margin: 70px 0;

      .related__list--item {
        width: 45%;
        min-width: 45%;

        img {
          object-fit: cover;
          width: 100%;
        }

        &:nth-of-type(3n + 2) {
          margin-top: 0;
        }
      }
    }

    .features {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .features__desc p {
      width: 100%;
    }

    .nearby__wrapper__image {
      width: 100vw;
      height: 100vh;
      max-width: 100%;
      max-height: 322px;
      margin: 0 auto;
      padding: 1rem;
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
    }

    .package h4 {
      text-align: center;
      font-size: 17px;
      line-height: 25px;
      margin-top: 15px;
      margin-bottom: 40px;
    }

    .swiper-button-prev {
      margin-right: 30px;

      &:hover {
        filter: invert(75%) sepia(20%) saturate(907%) hue-rotate(135deg)
          brightness(90%) contrast(86%);
      }
    }

    .swiper-button-next {
      &:hover {
        filter: invert(75%) sepia(20%) saturate(907%) hue-rotate(135deg)
          brightness(90%) contrast(86%);
      }
    }

    .swiper-button-wrapper {
      justify-content: center;
    }
  }
}

@include media-breakpoint-down(sm) {
  .vip-villa {
    // .vip-villa-sec {}

    .features {
      &__wrapper {
        justify-content: center;
      }
    }

    .related__list--item {
      width: 100%;
      min-width: unset;
      margin-bottom: 25px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .vip-villa {
    .vip-villa-sec {
      &__image {
        height: 34vh;
        max-width: 100%;
      }

      &__rate {
        bottom: -46px;
        right: 0;
        left: 0;
        width: 110px;
        height: 110px;
        padding: 27px 15px;

        p {
          font-size: 16px;
        }
      }
    }
  }
}
