footer {
  font-family: $font-family-cera;

  .container {
    position: relative;

    &:after {
      width: 100%;
      content: "";
      background: #384133;
      height: 1px;
      position: absolute;
      top: 0px;
      left: 0;
      z-index: -1;
    }

    .footer {
      padding-top: 60px;

      &__col1,
      &__col2 {
        width: 25%;
      }

      &__col3 {
        width: 50%;
      }

      &__col1,
      &__col2,
      &__col3 {
        padding: 0;
      }

      &__col4 {
        padding: 0;
        width: 30%;

        p {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-bottom: 6px;

          a {
            font-size: 15px;
          }
        }
      }
    }
  }



  .terms-condition {
    #menu-bottom-menu {
      display: flex;
      gap: 50px;

      .menu-item a {
        font-family: $font-family-cera;
        font-size: 16px;
      }
    }

    p {
      &:hover {
        color: $blue;
        cursor: pointer;
      }
    }
  }

  .footer-copyright {
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;



    &:after {
      width: 100%;
      content: "";
      background: #384133;
      height: 1px;
      position: absolute;
      top: -25px;
      z-index: -1;
    }
  }

  .copyright {
    gap: 11px;
    align-items: baseline;

    div {
      margin-top: -5px;

      img {
        width: 78px;
        margin-top: -4px;
      }
    }
  }
}

@include media-breakpoint-down(xxl) {
  footer {
    .footer {
      padding-bottom: 7px !important;

      &__logo {
        max-width: 180px;
        width: 100%;
        margin-bottom: 25px;
      }

      &__palm-tree {
        max-width: 142px;
        width: 100%;
        height: 203px;
      }

      ul {
        li {
          a {
            font-size: 16px;
          }
        }
      }

      .footer__col3.d-flex {
        padding-top: 40px;
      }
    }

    .footer-copyright {
      padding-top: 10px;
      padding-bottom: 40px;
    }
  }
}

@include media-breakpoint-down(lg) {
  footer {
    .container .footer__col3 {
      img {
        max-width: 120px;
      }
    }

    .footer-copyright {
      padding: 40px 0;

      &:after {
        top: 15px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  // footer {

  //   .container {
  //     ul {
  //       li {
  //         a {
  //           font-size: 15px;
  //         }
  //       }
  //     }

  //     &__col3 img {
  //       max-width: 120px;
  //     }

  //     .footer {
  //       margin-top: 30px;
  //     }
  //   }

  //   .mob__screen {
  //     a {
  //       font-size: 5px;
  //       align-self: center;
  //     }

  //     p {
  //       font-size: 16px;
  //     }
  //   }

  //   .copyright {
  //     display: none !important;
  //   }
  // }

  // .footer-copyright {
  //   img {
  //     width: 78px;

  //   }

  //   p {
  //     margin-right: 5px;
  //     margin-top: 4px;
  //   }
  // }

  footer {

    .container {
      .terms-condition {
        justify-content: center;
      }

      .copyright {
        display: none !important;
      }


      .footer {
        flex-wrap: wrap;
        padding-top: 40px;
        margin-top: 25px;


        &__col1,
        &__col2 {
          width: 49%;
        }

        &__col1 {
          padding-bottom: 40px;
        }

        &__col2 {
          text-align: right;
        }

        &__col3 {
          width: 100%;
          order: 3;
          justify-content: center;
          padding: 40px 0;
        }

        &__col4 {
          margin: 0 auto;
          width: 100%;
          padding: 40px 0;
          position: relative;

          div {
            max-width: 260px;
            width: 100%;
            margin: 0 auto;

            p {
              padding-bottom: 30px;

              &:last-child {
                padding-bottom: 0px;
              }
            }
          }

          &:after {
            width: 100%;
            content: "";
            background: $grey;
            height: 1px;
            position: absolute;
            top: 0px;
            left: 0;
            z-index: -1;
          }

          &:before {
            width: 100%;
            content: "";
            background: $grey;
            height: 1px;
            position: absolute;
            bottom: 0px;
            left: 0;
            z-index: -1;
          }
        }
      }

      ul {
        li {
          margin-bottom: 25px;
        }
      }

      .footer-copyright:after {
        content: unset;
      }
    }

    .footer-copyright {
      justify-content: center !important;
      padding: 15px;
      text-align: center;
      flex-direction: column;


      p {
        text-align: center;
      }

      .mob__screen {
        a {
          img {
            margin-left: 10px;
            margin-top: -4px;
            width: 70px;
          }
        }
      }

    }
  }
}


@include media-breakpoint-down(xs) {
  footer {
    .copyright {
      flex-direction: column;
      gap: 15px;
    }
  }

  .mob__screen {
    a {
      font-size: 5px;
      align-self: center;

      img {
        margin-left: 5px;
        margin-top: -7px;
      }
    }

    p {
      font-size: 16px;
      // margin-top: 9px;
    }
  }
}